.brownie {
    position: relative; 
    width: 300px;
    margin-left: -100px 
    ;
}

.brownie h4 {
    margin-left: 60px; 
    margin-top: 20px; 
    font-size: 11px;
    font-weight: 100;
    color: gray;
  }
  
  .brownie h3 {
    margin-left: 60px; 
    font-size: smaller;
  }
  
  .brownie  p {
    margin-left: 60px;
    margin-top: 1px; 
    color: brown;
    font-size: 13px;
    font-weight: 600;
  }